{% extends "products/base.html" %}
{%block title %}
    Товары
{% endblock %}

{%block name%}
    Список Товаров
{% endblock %}

{% block content %}

    {% if object_list %}

        <ul>
        {% for product in object_list %}
        <div class = conbox>
            <div class = image_box)>
                <img src="{{product.img.url}}" width = 200px height = auto />
            </div>
            <div class = name>
                <a href="{% url 'products:detail' product.id %}">{{product.name}}</a>
            </div>
            <div class = price>
                {{product.price}}₽
            </div>
        </div>

        {% endfor %}
        </ul>

    {% else %}

        <p>No products are available.</p>

    {% endif %}

{% endblock %}

{% block button %}
<form action="{% url 'products:add_new'%}" method="get">
        {% csrf_token %}
            <input type="submit" name="add_new" value="Добавить товар  " />
    </form>
{% endblock %}